
body {
    margin: 0;
    background: #000;
    font-family: "Oswald" !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#bgCanvas {
    position: absolute; /* вместо absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 220%; /* 100% вместо 200% */
    z-index: -1;
}
header {
    position: relative;
    height: 920px;
}
.content-name p {
    text-transform: uppercase;
    color: #c7c7c7;
}
.content-name {
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 60px 0 0 0;
}
html {
    scroll-behavior: smooth; /* Плавная прокрутка для всего сайта */
}
.name-hello {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 330px;
    margin: 0 auto;
}
.scroll-down {
    cursor: pointer;
}
.bracket {
    color: #c7c7c7 !important;
    font-weight: bold;
}

.name-tag {
    color: #66d9ed;
    margin: 0 5px;
    transition: all 0.3s ease;
}
.name p {
    letter-spacing: 2pt;
    font-weight: 800;
    font-size: 150px;
}
.box-name {
    padding-top: 24%;
}
.info-developer {
    margin-top: 45px;
}
.info-developer p {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .25pc;
}
.hello {
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.4s ease;
    color: #6de58b;
    font-weight: bold;
}
.name-hello:hover .hello {
    max-width: 100px;
    opacity: 1;
    margin-left: 8px;
}
.bracket-end {
    display: flex;
    padding-left: 3px;
}
.bracket-end p {
    color: #b7f;
    padding-right: 2px;
}
.name-hello {
    font-size: 25px;
    font-weight: bold;
}
.page-link {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 80px;
    margin: 0 auto; /* Добавить это */
}

.button {
    display: grid;
    text-align: center;
    justify-content: center; /* Дополнительное центрирование */
}
.button a {}
.skills-header {
    display: grid;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 40px;
}
.skills-header h1 {
    font-size: 82px;
    color: #c7c7c7;
    font-family: "";
}
.geography-block-2::before {
    margin-top: 50px !important;
}
.h3-top::before {
    content: "<h3>";
    color: #c7c7c7;
    bottom: -25px;
    opacity: .3;
    position: absolute;
}
.button::before {
    content: "<h3>";
    color: #c7c7c7;
    opacity: .3;
    position: absolute;
    top: -25px;
}
.geography::before {
    content: '';
    position: absolute;
    transform: translateY(-50%);
    height: 100%;
    margin-left: 13px;
    width: 2px;
    background-color: #c7c7c7;
    margin-top: 38px;
    opacity: .3;
}
.box-skills {
    display: flex;
    justify-content: center;
    position: relative;
}
.box {
    border: 1px solid #a3a3a3;
    width: 326px;
    height: 236px;
    padding: 40px 30px;
    position: relative;
    z-index: 1;
}
.title-box {
    display: flex;
    position: relative;
    z-index: 1;
}
.title-box p {
    color: #c7c7c7;
    padding-left: 15px;
    font-weight: 600;
    font-size: 26px;
}
.body-box {
    display: flex;
    position: relative;
}
.body-box p {
    font-size: 22px;
    color: #c7c7c7;
    line-height: 25px;
    letter-spacing: .25pc;
    padding-left: 30px;
}
.h3-block {
    position: relative;
}
.text {
    height: 100px;
}
.text p {
    position: relative;
    z-index: 1;
    font-family: "Poppins-semibold";
}
.text h1 {
    color: #c7c7c7;
    font-weight: 800 !important;
    font-size: 26px;
    padding-left: 15px;
    padding-bottom: 3px;
}
.red-effect {
    background: #df058d;
    width: 120px;
    height: 8px;
    position: absolute;
    left: 65px;
    top: 45px;
    z-index: 0;
}
.blue-effect {
    background: #2c49d8;
    width: 130px;
    height: 8px;
    position: absolute;
    left: 65px;
    top: 45px;
    z-index: 0;
}
.orange-effect {
    background: #ff6b2b ;
    width: 126px;
    height: 8px;
    position: absolute;
    left: 65px;
    top: 17px;
    z-index: 0;
}
.code {
    position: absolute;
    z-index: 0;
    top: 285px;
    opacity: .25;
}
#skills {
    padding-bottom: 550px;
    position: relative;
}
#skills {
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none; /* Чтобы можно было взаимодействовать с контентом под canvas */
}
.ocean {
    height: 80px; /* change the height of the waves here */
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.wave {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23151818'/%3E%3C/svg%3E");
    position: absolute;
    width: 200%;
    height: 100%;
    animation: wave 38s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
}

.wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 38s linear reverse infinite;
    opacity: 0.5;
}

.wave:nth-of-type(3) {
    bottom: 0;
    animation: wave 38s -2s linear infinite;
    opacity: 0.5;
}

@keyframes wave {
    0% {transform: translateX(0);}
    50% {transform: translateX(-25%);}
    100% {transform: translateX(-50%);}
}
#gallery {
    background: #131615;
    padding-top: 200px;
    padding-bottom: 90px;
}
.card img{
    border-radius: 5px 5px 0 0;
    width: 100%;
}
.card-text {
    border-radius: 0 0 5px 5px;
    background: #0b0c0c;
    padding: 20px;
}
.card-text h1 {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
}
.card-text p {
    color: #c7c7c7;
}
.gallery-item {
    width: 40%;
    cursor: pointer;
}
.gallery-item-row {
    display: flex;
    gap: 40px;
}
.gallery {
    display: grid;
    justify-content: center;
}
.gallery {
    padding: 0 20%;
    margin: 0 auto;
}
.relative::after {
    content: '';
    position: absolute;
    height: 3px;
    margin-left: 13px;
    width: 40px;
    background-color: #c7c7c7;
    top: 9px;
    left: 95px;
}
.card-text {
    position: relative;
    min-height: 40px;
}
.relative {
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateY(100%);
    visibility: hidden;
    transition: transform 0.2s ease, opacity 0.2s ease, visibility 0.2s ease;
    pointer-events: none;
    bottom: 20px;
}
.gallery-item:hover .relative {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
}
.info-cod {
    opacity: 1;
    transform: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.gallery-item:hover .info-cod {
    opacity: 0;
    transform: translateY(-10px);
}
.card {
    overflow: hidden;
}

.card img {
    transition: transform 0.4s ease;
    transform: scale(1);
}
.gallery-item:hover .card img {
    transform: scale(1.1);
}
.button-gallery {
    display: flex;
    padding-bottom: 60px;
}
.button-gallery button {
    background: no-repeat;
    border: 0;
    display: flex;
    color: #c5c5c5;
    font-size: 18px;
    position: relative;
    cursor: pointer;
}
.button-gallery button:hover {
    color: #66d9ed;
    transition: all 0.6s;
}
.button-gallery h1 {
    position: relative;
    top: -8px;
    font-size: 12px;
    left: 3px;
}
.button-gallery p {
    padding-left: 20px;
    padding-right: 10px;
    font-size: 20px;
}
#contact {
    background: #232328;
}
.contact {
    display: flex;
}
.contact-title {

}